.el-aside {
  line-height: 500px;
  background-color: #545c64;
}

.el-header {
  display: block; // 居中
  margin: 0 auto; // 居中
}

.el-main {
  background-color: #E9EEF3;
}

.el-row {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
